.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  
  max-width: 1600px;
  padding: 30px;
  gap: 30px;
}

// Позиціонування останнього елемента (не посередині, а там, де закінчується список):
.gallery::after {
  content: "";
  flex: auto;
}

.photo-card {
  border: 1px solid rgba(111, 106, 106, 0.2);
  border-bottom: 4px solid rgba(111, 106, 106, 0.2);
}

.info {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;

  padding: 10px 10px;
}

.info-item {
  inline-size: min-content;
  font-size: 11px;
}